#!/bin/sh
# Copyright 2025 (Holloway) Chew, Kean Ho <hello@hollowaykeanho.com>
# Copyright 2024 (Holloway) Chew, Kean Ho <hello@hollowaykeanho.com>
# Copyright 2023 (Holloway) Chew, Kean Ho <hollowaykeanho@gmail.com>
# Copyright 2023 "Holloway" Chew, Kean Ho <kean.ho.chew@zoralab.com>
# Copyright 2023 ZORALab Enterprise <tech@zoralab.com>
#
#
# Licensed under (Holloway) Chew, Kean Ho's Liberal License (the 'License').
# You must comply with the license to use the content. Get the License at:
#
# https://doi.org/10.5281/zenodo.13770769
#
# You MUST ensure any interaction with the content STRICTLY COMPLIES with
# the permissions and limitations set forth in the license.




# Parameters:
# Returns:
#       String
#               - the translated content.
#       Return Code
#               - '0' means ok; error otherwise.
#               - error on bad execution.
entities_i18n_errors_EDIT_THIS_FUNCTION_NAME() {
        # execute
        case "$XUANQI_LANGUAGE" in
        "de")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Kann nicht fortfahren.
Beende jetzt...
"
                ;;
        "es")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
No se puede proceder.
Saliendo...
"
                ;;
        "fr")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Impossible de continuer.
Abandon...
"
                ;;
        "ja")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
続行できません。
終了します...
"
                ;;
        "ko")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
진행할 수 없습니다.
지금 종료합니다...
"
                ;;
        "mn-Cyrl")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Үргэлжлүүлэх боломжгүй.
Гарах...
"
                ;;
        "ms")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Tidak Dapat Sembung.
Keluar Sekarang...
"
                ;;
        "nb")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Kan ikke fortsette.
Avbryter nå...
"
                ;;
        "nl")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Kan niet doorgaan.
Beëindigen...
"
                ;;
        "nn")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Kan ikkje halda fram.
Avbryt no...
"
                ;;
        "ru")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Невозможно продолжить.
Выхожу...
"
                ;;
        "sv")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Kan inte fortsätta.
Avbryter...
"
                ;;
        "uk")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Неможливо продовжити.
Виходимо...
"
                ;;
        "zh-Hans")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
无法继续。
正在退出。。。
"
                ;;
        "zh-Hant")
                printf -- "%s" "\
[EDIT STATEMENT HERE]
無法繼續。
正在退出。。。
"
                ;;
        *)
                # fallback to english
                printf -- "%s" "\
[EDIT STATEMENT HERE]
Unable to Proceed.
Bailing Out...
"
                ;;
        esac
        if [ $? -ne 0 ]; then
                return 1
        fi


        # report status
        return 0
}




# report import status
return 0
